/*===========================

Reset Rule

===========================*/

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

/*===========================

Headers

===========================*/

h1 {
  background-color: #019cc0;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}


/*===========================

Rows

===========================*/
.row {
  text-align: center;
}

img {
  padding: .25rem;
}







/*===========================

Responsive Web Coding - 768px by 1024px (Tablet)

===========================*/
@media screen and (min-width: 575px) {
  /* Header */
  h1 {
    margin-bottom: 3rem;
  }
    /* Images */
  img {
    width: 100%;
    object-fit: cover;
    height: 75%;
    padding: 0 2rem;

  }
}

/*===========================

Responsive Web Coding - 1366px by 768px (Laptop)

===========================*/
@media screen and (min-width: 1366px) {
}


/*===========================

Responsive Web Coding - 1920px by 1024 px (Desktop)

===========================*/
@media screen and (min-width: 1500px) {
}
